@tailwind base;
@tailwind components;
@tailwind utilities;

.responsive-title-ultra {
  font-size: calc(0.75vh + 10vw);
  line-height: calc(1.125vh + 8vw);
}

.responsive-text-ultra {
  font-size: calc(0.75vh + 5vw);
}

.responsive-header {
  font-size: calc(0.75vh + 3vw);
}
